<div class="my-4"></div> <!-- 余白 -->
<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1><%= t('users.new.title') %></h1>

      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <ul class="mb-0">
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="my-4"></div> <!-- 余白 -->
      <%= form_with model: @user do |f| %>
        <div class="mb-3">
          <%= f.label :email, t('helpers.label.email'), class: "form-label" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :password, t('helpers.label.password'), class: "form-label" %>
          <%= f.password_field :password, class: "form-control", placeholder: t('helpers.placeholder.password') %>
        </div>
        <div class="mb-3">
          <%= f.label :password_confirmation, t('helpers.label.password_confirmation'), class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        <%= f.submit t('helpers.submit.create'), class: "btn btn-primary w-100" %>
      <% end %>

      <div class="my-4 text-center">
        <p>またはGoogleアカウントでログイン</p>
        <%= link_to "Googleでログイン", auth_at_provider_path(:google), class: "btn btn-danger mb-2 w-100" %>
        <!-- <%= link_to "X (Twitter)でログイン", auth_at_provider_path(:twitter), class: "btn btn-info text-white w-100" %> -->
      </div>

      <div class="text-center">
        <%= link_to t('users.new.to_login_page'), login_path %>
      </div>
    </div>
  </div>
</div>
