<footer class="bg-light text-center py-4 text-muted fw-bold fs-6">
  <a href="<%= new_contact_path %>" class="text-decoration-none text-muted mx-2"><%= t('footer.inquiry') %></a>
  <span class="text-muted mx-1">|</span>
  <a href="<%= terms_path %>" class="text-decoration-none text-muted mx-2"><%= t('footer.user_agreement') %></a>
  <span class="text-muted mx-1">|</span>
  <a href="#" class="text-decoration-none text-muted mx-2"><%= t('footer.privacy_policy') %></a>
</footer>