<tr>
  <td><%= post.visit_date.strftime('%Y-%m-%d') if post.visit_date %></td>
  <td><%= post.shop&.name %></td>
  <td><%= post.category&.name %></td>
  <td><%= [post.shop&.location&.prefecture&.name, post.shop&.location&.city&.name].compact.join(' ') %></td>
  <td><%= post.companion&.name %></td>
  <td><%= post.feeling&.name %></td>
  <td><%= post.visit_reason&.name %></td>

  <td class="text-center">
    <% if current_user && current_user.favorites.exists?(post_id: post.id) %>
      <%= button_to post_favorite_path(post), method: :delete, class: 'btn btn-link p-0', form: { data: { turbo: false } } do %>
        <i class="fas fa-heart text-danger"></i>
      <% end %>
    <% else %>
      <%= button_to post_favorite_path(post), method: :post, class: 'btn btn-link p-0', form: { data: { turbo: false } } do %>
        <i class="far fa-heart text-secondary"></i>
      <% end %>
    <% end %>
  </td>

  <td>
    <%= link_to t('defaults.actions.show'), post_path(post), class: 'btn btn-sm btn-outline-primary me-1' %>
    <%= link_to t('defaults.actions.edit'), edit_post_path(post), class: 'btn btn-sm btn-outline-secondary' %>
  </td>
</tr>
