<tr>
  <td><%= post.visit_date.strftime('%Y-%m-%d') if post.visit_date %></td>
  <td><%= post.shop&.name %></td>
  <td><%= post.category&.name %></td>
  <td><%= [post.shop&.location&.prefecture&.name, post.shop&.location&.city&.name].compact.join(' ') %></td>
  <td><%= post.companion&.name %></td>
  <td><%= post.feeling&.name %></td>
  <td><%= post.visit_reason&.name %></td>

  <td>
    <button type="button" class="btn btn-outline-danger btn-sm" disabled>
      ♡
    </button>
  </td>
  <td>
    <%= link_to '詳細', post_path(post), class: 'btn btn-sm btn-outline-primary me-1' %>
    <%= link_to '編集', edit_post_path(post), class: 'btn btn-sm btn-outline-secondary' %>
  </td>
</tr>
