<% content_for(:title, t('.title', shop: @post.shop.name)) %>
<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1><%= t('posts.history.title', shop: @post.shop.name) %></h1>
    <div>
      <%= link_to t('posts.index.new_post'), new_post_path, class: 'btn btn-primary me-2' %>
      <div class="btn-group" role="group" aria-label="<%= t('posts.index.sort.by_visit_date') %>">
        <%#= link_to t('posts.index.sort.by_visit_date'), "#", class: "btn btn-outline-secondary" %>
        <%#= link_to '訪問回数順', "#", class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>

  <table class="table table-hover align-middle table-bordered text-center">
    <thead class="table-light">
      <tr>
        <th class="w-10"><%= t('posts.index.table_header.visit_date') %></th>
        <th class="w-20"><%= t('posts.index.table_header.shop_name') %></th>
        <th class="w-10"><%= t('posts.index.table_header.category') %></th>
        <th class="w-20"><%= t('posts.index.table_header.location') %></th>
        <th class="w-10"><%= t('posts.index.table_header.companion') %></th>
        <th class="w-10"><%= t('posts.index.table_header.feeling') %></th>
        <th class="w-10"><%= t('posts.index.table_header.visit_reason') %></th>
        <th class="w-5"><%= t('posts.index.table_header.visit_count') %></th>
        <th class="w-5"><%= t('posts.index.table_header.repeat') %></th>
        <th class="w-10"><%= t('posts.index.table_header.detail_edit') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'post', collection: @history_posts.compact, as: :post, locals: { show_history_button: false } %>
    </tbody>
  </table>
</div>
