<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
    <div class="my-4"></div> <!-- 余白 -->
      <h1><%= t('user_sessions.new.title') %></h1>
    <div class="my-4"></div> <!-- 余白 -->

      <% if @user && @user.errors.any? %>
        <div class="alert alert-danger">
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% elsif flash[:danger] %>
        <div class="alert alert-danger">
          <%= flash[:danger] %>
        </div>
      <% end %>

      <%= form_with model: @user, url: login_path do |f| %>
        <div class="mb-3">
          <%= f.label :email, t('helpers.label.email') %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :password, t('helpers.label.password') %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <%= f.submit t('user_sessions.new.login'), class: "btn btn-primary" %>
      <% end %>

      <div class='text-center'>
        <%= link_to t('user_sessions.new.to_register_page'), new_user_path %>
        <%= link_to t('user_sessions.new.password_forget'), new_password_reset_path %>
      </div>
    </div>
  </div>
</div>
