<!DOCTYPE html>
<html lang="ja">
  <head>

    <%= yield :head %>

    <%= favicon_link_tag '/favicon.ico' %>
    <%= favicon_link_tag '/icon.png', rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag '/icon.svg', rel: 'icon', type: 'image/svg+xml' %>
    <%= favicon_link_tag '/icon.png', rel: 'apple-touch-icon' %>

    <title><%= page_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
